#GroundVehicleDiagnostics {
  height: 100%;
  width: 100%;
  
  .diagnostics-content {
    width: 100%;
    height: calc(100% - 60px);
    max-height: 90vh;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .vehicle-info {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 1200px) {
  .vehicle-info {
    width: 90%;
  }
}